*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(145, 145, 145);
}
.header{
    height: 60px;
    width: 100%;
    background: #363636;
    position: fixed;
    top:0;
}
.container{
    width: 95%;
    max-width:1200px;
    margin: 0 auto;
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.redes-sociais{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 100%;
}
.nome-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.nome, .link{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.img-link{
    height: 30px;
    margin-right: 10px;
}
.img-logo{
    height: 50px;
    margin-right: 10px;
}
.content1{
    margin-top: 85px;
}
.container-content1{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.profile{
    width: 40%;
    box-shadow: 1px 1px 5px gray;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: white;
}
.about-me{
    width: 57%;
    height: 100%;
    box-shadow: 1px 1px 5px gray;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
}
.text-about-me{
    text-align: center;
    font-size: 8px;
    
}
.img-profile{
    height: 300px;
}
.content2{
    width: 100%;
}
.container-content2{
    box-shadow: 1px 1px 5px gray;
    margin-top: 25px;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}
.content2-projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-projecto{
    width: 45%;
    box-shadow: 1px 1px 5px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.project-img{
    height: 100%;
    padding: 5px;
    width: 100%;
}
.group-projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 50%;
}
.two-projects{
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
}
.left-project, .right-project{
    width: 100%;
    box-shadow: 1px 1px 5px gray;
    margin: 5px;
    padding: 10px;
    display: flex;
    
}
.content-project{
    margin-top: 5px;
    width: 100%;
}
.active{
    box-shadow: 0px 0px 20px 2px rgb(145, 145, 145);
}
footer{
    background: #363636;
    display: relative;
}
.container-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75px;
    padding: 10px;
}
.texto, .link-email{
    color: white;
}
.descricao{
    width: 100%;
}
